.dashboard {
  height: 100%;
  width: 100%;
  background-color: #efefef;

}

.dashboard-header {
  position: fixed;
  top: 0;
  width: 100%
}

.dashboard-header + .feed {
  padding-top: 102px;
}
.categories-bar {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 632px;
  line-height: 21px;
  margin-left: -16px;  
  padding-left: 16px;
  padding-right: 16px;
  position: sticky;
  width: 300px;
}

.category-header {
    color: #636466;
    font-weight: 400;
    height: 23px;
    line-height: 18.2px;
    margin-bottom: 8px;
    padding: 10px;
    height: auto;
}
.category {
    color: #636466;
    font-weight: 400;
    height: 23px;
    line-height: 18.2px;
    margin-bottom: 8px;
    padding: 10px;
}

.category:hover {
  text-decoration: underline;
  background-color: #e6e7e8;
  cursor: pointer;  
}

.header-question-click {
  background-color: #b92b27;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border: white;
  box-sizing: border-box;
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 30px;
  line-height: 21px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  color: white;
 }

.feed {
  display: flex;
  width: 1002px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.feed-item {
  height: auto;
  border: solid 1px lightgray;
  background-color: white;
  padding-bottom: 4px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.feed-header {
  height: 25px;
  color: #939598;
  margin-bottom: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.feed-author-name {
  font-size: 15px;
  color: #282829;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.feed-question {
  font-weight: bold;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin-bottom: 10px
}

.feed-question:hover {
  text-decoration: underline;  
  cursor: pointer; 
}

.feed-answer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: rgb(40, 40, 41);
}

.resources {
  font-size: 13px;
  color: #939598;
  border-top-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
}

.searchbar {
  width: 300px;
  font-size: 13px;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 32px;
  font-weight: 400;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(200, 200, 200, 0.3);
}

.searchbar:hover {
  border: solid 1px #2e69ff;
  cursor: pointer;
}

.searchbar-result {
  cursor: pointer;
  box-sizing: border-box;
  direction: ltr;
  display: flex;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}