.dashboard {
  height: 100%;
  width: 100%;
  background-color: #efefef;

}

.categories-bar {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 632px;
  line-height: 21px;
  margin-left: -16px;  
  padding-left: 16px;
  padding-right: 16px;
  position: sticky;
  width: 300px;
}

.category {
    color: #636466;
    font-weight: 400;
    height: 23px;
    line-height: 18.2px;
    margin-bottom: 8px;
    padding: 4px;
    height: auto;
}

.category:hover {
  text-decoration: underline;
  background-color: #e6e7e8;
}

.header-question-click {
  background-color: #b92b27;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border: white;
  box-sizing: border-box;
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 30px;
  line-height: 21px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  color: white;
 }

.feed {
  display: flex;
  width: 1002px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.feed-item {
  height: 420px;
  border: solid 1px lightgray;
  background-color: white;
  padding-bottom: 4px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 10px;
}

.feed-header {
  height: 25px;
  font-size: 13px;
  color: #939598;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;  
}

.feed-question {
  font-weight: bold;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.feed-question:hover {
  text-decoration: underline;  
}

.feed-answer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: rgb(40, 40, 41);
}

.resources {
  font-size: 13px;
  color: #939598;
  border-top-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
}

.drop-button-dots {
  color: #B92B27;
  font-size: 20px;
  padding: 15px;
  text-align: end;
}