/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  display: flex;
  justify-content: space-between;
}

 .logo {
   color: #B92B27;
 }

 /* login page css */
 .welcome-page {
   background-image: url('RickandMortyBackground.jpg');
   background-size: cover;
   height: 800px;
   display: flex;
   align-items: center;
 }
 
 .welcome-content {
   background-color: white;
   border: 5px solid grey;
   background-size: cover;
   height: 700px;
   width: 600px;
  }

 .forms {
   display: flex;
   flex-direction: row; 
   justify-content: space-around;
 }

 .session-form{
  width: 150px;
  font-weight: bold;
  font: menu;
 }

.welcome-logo {
   color: #B92B27;
   font-size: 80px;
   text-align: center;
 }

.welcome-quote {
   color:grey;
   text-align: center;
   font-size: 19px;
   font-family: fantasy;
 }