#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 50px;
  padding: 15px;
  padding-right: 25px;
  padding-left: 25px;
}

#logo {
   color: #B92B27;
  font-size: x-large;
  font-weight: bolder;
 }

 #logo:hover {
   text-decoration: underline;
 }

 
 // div
 .dropdown {
   position: relative;
   display: block;
  }

// dropdown button logo in header 
.profile-dropdown {
    height: 40px;
    border: solid 2px #B92B27;
    border-radius: 25px;
}

// dropdown button for feed item
.drop-button-dots {
  color: #B92B27;
  font-size: 20px;
  padding: 15px;
}

// ul
.dropdown-content{ 
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 14px 18px;
  z-index: 1;
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
}

// div ul
.dropdown:hover .dropdown-content {
  display: block;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0;
}

// ul > li
.dropdown-content > li:hover {
  display: block;
  background-color: #B92B27;
}

.dropdown-options {
  border: none;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #282829;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-area {
  display: flex;
  justify-content: flex-end;
}