
.question-click {
  line-height: 21px;
  padding: 16px;
  background: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: solid 1px lightgrey;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 3px;
}

.question-name {
  color: #939598;
  font-size: 13px;
  margin-bottom: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#question-invite {
  color: #939598;
  font-size: 18px;
  text-align: left;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.question-box {
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  padding: 2px;
}

#question-form {
justify-content: space-between;
display: flex;
position: relative;
min-height: 320px;
max-height: 80vh;
width: 620px;
flex-direction: column;
}

.inside-question-form {
  padding: 32px;
}

.question-input {
  box-sizing: border-box;
  direction: ltr;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  border: none;
  flex: 1 1 0%;
  height: auto;
  overflow: hidden;
  overflow-wrap: break-word;
  line-height: 1.4;
  font-size: 18px;
  padding: 0;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#cancel-or-submit-question-section {
  background-color: #f7f7f8;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  direction: ltr;
  padding: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
}

.ask-question-button {
  font-size: 14px;
  font-size: 15px;
  color: #fff;
  background-color: rgb(46, 105, 255);
  border-radius: 1000px;
  font-weight: 500;
  text-size-adjust: 100%;
  padding: 7px 20px 7px 20px;
  border-color: #2e69ff;
  border-width: 0px;
}
.ask-question-button:hover {
  cursor: pointer;  
}

.cancel-button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #636466;
  padding: 7px 12px;
}

.cancel-button:hover {
  cursor: pointer;  
}

.question-header {
  box-sizing: border-box;
  direction: ltr;
  display: flex;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
  align-items: center;
  background-color: #f7f7f8;
  line-height: 1.4;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: rgb(40, 40, 41);
}
.question-form-name {
  box-sizing: border-box;
  direction: ltr;
  font-weight: 500;
  color: #b92b27;
  padding: 16px 24px 16px 24px;
  display: block;
  text-align: inherit;
  text-size-adjust: 100%;
  border-bottom: solid 2px #b92b27;
  cursor: pointer;
}

.question-author {
  height: 25px;
  font-size: 13px;
  color: #939598;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.question-answer-item {
  margin-right: 0.1px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
  padding: 20px 0px 8px 0px;
}

.answer-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: rgb(40, 40, 41);
  font-weight: 400;
  text-size-adjust: 100%;
  tab-size: 4;
  word-break: break-word;
}