
.question-click {
  line-height: 21px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  background: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: solid 1px lightgrey;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.6);
}

.question-name {
  font-size: 13px;
  color: #939598;
}

#question-invite {
  color: #939598;
  font-size: 18px;
  text-align: left;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.question-box {
  box-sizing:border-box;
  background-color: white;
}

#question-form {
  height: 300px;
  width: 400px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.question-input {
  width: 400px;
  height: 60px;
  font-size: 18px;
}

#cancel-or-submit-question-section {
    background-color: #f7f7f8;
    display: flex;
    justify-content: flex-end;
}

.ask-question-button {
  font-size: 14px;
  font-size: 15px;
  color: #fff;
  background-color: rgb(46, 105, 255);
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  font-weight: 500;
  text-size-adjust: 100%;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  border-color: #2e69ff;
}