
.question-click {
  line-height: 21px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  background: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: solid 1px lightgrey;
  background-color: white;
}

.question-name {
  font-size: 13px;
  color: #939598;
}

#question-invite {
  color: #939598;
  font-size: 18px;
  text-align: left;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.question-box {
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  padding: 2px;
}

#question-form {
justify-content: space-around;
display: flex;
position: relative;
min-height: 320px;
max-height: 80vh;
width: 620px;
flex-direction: column;
}

.inside-question-form {
  padding: 32px;
}

.question-input {
  box-sizing: border-box;
  direction: ltr;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  border: none;
  flex: 1 1 0%;
  min-height: 26px;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 26px;
  line-height: 1.4;
  font-size: 18px;
  padding: 0;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
}

#cancel-or-submit-question-section {
  background-color: #f7f7f8;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  direction: ltr;
  padding: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
}

.ask-question-button {
  font-size: 14px;
  font-size: 15px;
  color: #fff;
  background-color: rgb(46, 105, 255);
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  font-weight: 500;
  text-size-adjust: 100%;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  border-color: #2e69ff;
}

.cancel-button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #636466;
  padding: 7px 12px;
}

.question-header {
  box-sizing: border-box;
  direction: ltr;
  display: flex;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
  align-items: center;
  background-color: #f7f7f8;
  line-height: 1.4;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: rgb(40, 40, 41);
}
.question-form-name {
  box-sizing: border-box;
  direction: ltr;
  font-weight: 500;
  color: #b92b27;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
  text-align: inherit;
  text-size-adjust: 100%;
  border-bottom: solid 2px #b92b27;
  cursor: pointer;
}

.question-author {
  height: 25px;
  font-size: 13px;
  color: #939598;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}