.welcome-page {
  // background-image: url(RickandMortyBackground.jpg);
  display: flex;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

.welcome-logo {
   color: #B92B27;
   font-size: 80px;
   text-align: center;
   font-weight: bolder;
 }

.welcome-quote {
   color:grey;
   text-align: center;
   font-size: 19px;
   font-family: fantasy;
   margin: 32px;
 }
 .welcome-content {
    background-size: cover;
    height: 700px;
    width: 600px;
    background: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
    padding-top: 25px;
    width: 650px;
    position: absolute;
    bottom: initial;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: hidden;
    top: 10%;
  }

 .forms {
   display: flex;
   flex-direction: row; 
   justify-content: space-around;
   border-bottom: solid 1px lightgray;
   padding: 32px;
}

 .session-form {
    width: 200px;
    color: #949494;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #login-form {
    border-left: solid 1px lightgrey ;
    padding: 40px;
    padding-top: 0;
  }

  #signup-form {
    color: #666;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 11px;
  }
  
  .fit-names {
    display: flex;
    flex-wrap: wrap;
  }

  #form-title-name {
    font-size: 13px;
    color: #333;
    font-weight: bold;

}

 
 .form-login-buttons {
   background-color: #3e78ad;
   font-size: 15px;
   color: white;
   line-height: 1.4;
   float: right;
   border: 1px solid #3a66ad;
   padding: 3px 7px 4px 7px;
   font-weight: 500;
   border-radius: 3px;
  }
  
  .session-buttons-pocket {
    line-height: 1.4;
    color: #949494;
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    padding: 4%;
    padding-top: 2%;
    float: left;
    box-sizing: border-box;
    width: 50%;
    font-weight: 400;
  }

.demo-login-button {
    background-color: #3e78ad;
    color: white;
    line-height: 1.4;
    float: right;
    border: 1px solid #3a66ad;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 8px 16px;
    width: 270px;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    box-sizing: border-box;
    transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    border-radius: 3px;
}

.signup-form-button {
    background-color: #df4930;
    color: white;
    line-height: 1.4;
    float: right;
    border: 1px solid #df4930;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 8px 16px;
    width: 270px;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    box-sizing: border-box;
    transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    border-radius: 3px;
}

.form-input-boxes {
    width: 100%;
    font-size: 13px;
    line-height: 1.4;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 32px;
    margin-bottom: 8px;
    font-weight: 400;
    display: block;
    background: #fff;
    outline: 0;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
}

.error-messages {
    padding: 8px;
    border: 1px solid #b92b27;
    color: #b92b27;
    clear: both;
    border-radius: 4px;
    margin: 8px 0;
    font-size: 13px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    line-height: 1.4;
}