.welcome-page {
  // background-image: url(RickandMortyBackground.jpg);
  display: flex;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

.welcome-logo {
   color: #B92B27;
   font-size: 80px;
   text-align: center;
 }

.welcome-quote {
   color:grey;
   text-align: center;
   font-size: 19px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 200;
   margin-top: 32px;
 }

.author-info {
   color:grey;
   text-align: center;
   font-size: 19px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 200;
   margin: 16px 0px 32px 0px;
   height: 45px;
 }

 .welcome-content {
    background-size: cover;
    height: 650px;
    background: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
    padding: 25px 0px 0px 0px;
    width: 650px;
    position: absolute;
    bottom: initial;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: hidden;
    top: 10%;
  }

 .forms {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  border-bottom: solid 1px lightgray;
  padding: 32px;
  height: 320px;
}

 .session-form {
    width: 240px;
    color: #949494;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #login-form {
    border-left: solid 1px lightgrey ;
    padding: 0 20px 0px 32px;
  }

  #signup-form {
    color: #666;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 11px;
    padding: 0px 50px 0px 0px;
  }

  .signup-agreement {
    color: #949494;
    font-size: 11px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    line-height: 1.4;
    padding: 10px 0px 10px 0px;
    width: 110%;
  }
  
  .fit-names {
    display: flex;
    width: 100%;
  }

  #adjust-signup-boxes {
    margin-right: 10px;
  }

  #form-title-name {
    font-size: 13px;
    color: #333;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.4;
}

 
 .form-login-buttons {
   background-color: #3e78ad;
   font-size: 15px;
   color: white;
   line-height: 1.4;
   float: right;
   border: 1px solid #3a66ad;
   padding: 3px 7px 4px 7px;
   font-weight: 500;
   border-radius: 3px;
  }

 .form-login-buttons:hover {
   cursor: pointer;  
  }
  
  .session-buttons-pocket {
    line-height: 1.4;
    color: #949494;
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    padding: 10px 20px 0px 0px;
    float: left;
    box-sizing: border-box;
    width: 46%;
    font-weight: 400;
  }

.signup-form-button {
    background-color: #3e78ad;
    color: white;
    line-height: 1.4;
    float: right;
    border: 1px solid #3a66ad;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 8px 16px;
    width: 250px;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    box-sizing: border-box;
    transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    border-radius: 3px;
}
.demo-login-button {
  cursor: pointer;  
}

.signup-form-button {
  cursor: pointer;  
}

.demo-login-button {
    background-color: #df4930;
    color: white;
    line-height: 1.4;
    float: right;
    border: 1px solid #df4930;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 8px 16px;
    width: 250px;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    box-sizing: border-box;
    transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    border-radius: 3px;
}

.form-input-boxes {
  margin-top: 10px;
    width: 100%;
    font-size: 13px;
    line-height: 1.4;
    padding: 0px 8px 0px 8px;
    min-height: 27px;
    margin-bottom: 8px;
    font-weight: 400;
    display: block;
    outline: 0;
    background-color: #EEE;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
}

.name-fit {
  display: inline-block;
}

.signup-input-labels {
  display: block;
}

.session-form-input-boxes {
  margin-top: 10px;
  float: right;
  box-sizing: border-box;
  padding: 3px 5px;
  height: 15px;
  width: 115px;
  min-height: 27px;
  background: #fff;
  outline: 0;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 8px;
  font-weight: 400;
  display: block;
}

.info-links {
  display: flex;
  justify-content: space-evenly;
}

.error-messages {
  padding: 8px;
  border: 1px solid #b92b27;
  color: #b92b27;
  clear: both;
  border-radius: 4px;
  margin: 8px 0;
  font-size: 13px;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.4;
}

.mainpage-footer {
  padding: 16px;
  border-top: 1px solid #e2e2e2;
  background: #fafafa;
  height: 30px;
}

.signup-form-buttons {
  display: flex;
  justify-content: space-between;
}