.welcome-page {
  background-image: url('RickandMortyBackground.jpg');
  background-image: url(RickandMortyBackground.jpg);
  display: flex;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

.welcome-logo {
   color: #B92B27;
   font-size: 80px;
   text-align: center;
 }

.welcome-quote {
   color:grey;
   text-align: center;
   font-size: 19px;
   font-family: fantasy;
 }
 .welcome-content {
    background-size: cover;
    height: 700px;
    width: 600px;
    background: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
    padding-top: 25px;
    width: 650px;
    position: absolute;
    bottom: initial;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: hidden;
    top: 10%;
  }

 .forms {
   display: flex;
   flex-direction: row; 
   justify-content: space-around;
 }

 .session-form {
    width: 150px;
    font-weight: bold;
    height: 100%;
    line-height: 1.4;
    color: #333;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 100px;
 }

 #signup-form {
    border-right: solid 1px #333;
 }


.form-login-buttons {
    background-color: #3e78ad;
    font-size: 15px;
    color: white;
    line-height: 1.4;
    float: right;
    border: 1px solid #3a66ad;
    padding: 3px 7px 4px 7px;
    font-weight: 500;
    border-radius: 3px;
}

.form-input-boxes {
width: 100%;
    font-size: 13px;
    line-height: 1.4;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 32px;
    margin-bottom: 8px;
    font-weight: 400;
    display: block;
    background: #fff;
    outline: 0;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
}

.demo-login-button {
  margin: 25px;
}